{% extends "base.html" %}
{% block content %}
<span class="metaData">
  {% if config.extra.author and config.extra.display_author == true %}
  <address rel="author">{{config.extra.author}}</address>,
  {% endif %}
  <time datetime="{{ page.date }}">{{ page.date }}</time>
</span>
<hr />

{% if page.toc and page.extra.toc %}
<p class="toc">
  <strong>Table of contents</strong>
<ol>
  {% for h1 in page.toc %}
  <li>
    <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
    {% if h1.children %}
    <ol>
      {% for h2 in h1.children %}
      <li>
        <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
        <ol>
          {% for h3 in h2.children %}
          <li>
            <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
          </li>
          {% endfor %}
        </ol>
      </li>
      {% endfor %}
    </ol>
    {% endif %}
  </li>
  {% endfor %}
</ol>
</p>
<hr />
{% endif %}

{{ page.content | safe }}

<p class="tagsData">
  {% if page.taxonomies.tags %}
  {% for tag in page.taxonomies.tags %}
  <a href="/tags/{{ tag | slugify }}">&#47;{{ tag }}&#47;</a>
  {% endfor %}
  {% endif %}
</p>
{% endblock content %}
