{% extends "base.html" %}

{% block content %}
<h1>{{ page.title }}</h1>

{% if page.toc and page.extra.toc %}
<h2>Table of contents</h2>
<ol>
{% for h1 in page.toc %}
  <li>
  <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
  {% if h1.children %}
    <ol>
      {% for h2 in h1.children %}
        <li>
        <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
          <ol>
          {% for h3 in h2.children %}
            <li>
            <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
            </li>
          {% endfor %}
          </ol>
        </li>
      {% endfor %}
    </ol>
  {% endif %}
  </li>
{% endfor %}
</ol>
{% endif %}

{{ page.content | safe }}

<p class="tagsData">
{% if page.taxonomies.tags %}
{% for tag in page.taxonomies.tags %}
<a href="/tags/{{ tag | slugify }}">&#47;{{ tag }}&#47;</a>
{% endfor %}
{% endif %}
</p>
{% endblock content %}
