{% extends "section.html" %}
{% block content %}
<div class="post">
    <h1 class="post-title">
        {{ section.title | safe }}
    </h1>

    <div class="post-content">
        <ul>
            {% for page in section.pages %}
            {% if not page.extra.draft %}
            <li>
                <span class="metaData">{{ page.date }}</span>
                <a href="{{page.permalink | safe }}">{{ page.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
